In [1]:
# импортируем необходимые билиотеки
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

In [2]:
# загрузим данные
df = pd.read_csv('AB_NYC_2019.csv')

# выберем признаки 'name', 'price'
data = df[['name','price']]

In [3]:
# посмотрим на данные
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    48879 non-null  object
 1   price   48895 non-null  int64
dtypes: int64(1), object(1)
memory usage: 764.1+ KB

In [4]:
# посмотрим на характеристики цены
data.describe().T

         count        mean        std  min   25%    50%    75%      max
price  48895.0  152.720687  240.15417  0.0  69.0  106.0  175.0  10000.0

In [5]:
# удалим наблюдения в которых отсутствуют названия
data.drop(data[data['name'].notna() != True].index, inplace=True)

# удалим наблюдения в которых цена размещения равна 0
data.drop(data[data['price'] == 0].index, inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48868 entries, 0 to 48894
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    48868 non-null  object
 1   price   48868 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [7]:
data.describe().T

         count        mean         std   min   25%    50%    75%      max
price  48868.0  152.756732  240.202905  10.0  69.0  106.0  175.0  10000.0

In [8]:
# разделим выборку на обучающую и тестовую
X, y = data['name'], data['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [9]:
# импортируем библиотеки необходимые для предсказания
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

from sklearn.metrics import mean_absolute_error


# обучим модель и сделаем предсказание, в качестве метрики возьмем MAE
pipeline = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('lr', LogisticRegression()),
])

pipeline.fit(X_train, y_train)
mae = mean_absolute_error(y_test, pipeline.predict(X_test))

print(mae)

72.80246913580247